{{ define "main" }}
  <section class="Blog is-index">
    {{ range .Pages }}
		<p>{{ .Summary }}</p>
        <p><a class="BlogPost-more" href="{{.URL}}">Read more</a></p>
	    {{ partial "blog_post.html" . }}
    {{ end }}
	<div class="Blog-pagination">

    {{/*{% if paginator.previous_page %}*/}}
			<a href="">&laquo; Prev</a>
	{{/*{% endif %}*/}}

	{{/*{% for page in (1..paginator.total_pages) %}*/}}
      {{/*{% if page == paginator.page %}*/}}
      <em>{{ .Page }}</em>
      {{/*{% elsif page == 1 %}*/}}
          {{/*<a href="{{ paginator.previous_page_path | prepend: site.baseurl | append: '/' | replace: '//', '/' }}">{{ page }}</a>*/}}
      {{/*{% else %}*/}}
          {{/*<a href="{{ site.paginate_path | prepend: site.baseurl | append: '/' | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>*/}}
      {{/*{% endif %}*/}}
	{{/*{% endfor %}*/}}

	{{/*{% if paginator.next_page %}*/}}
		<a href="">Next &raquo;</a>
	{{/*{% endif %}*/}}

</div>
  </section>
{{ end }}


{{/*<div style="border: 1px solid black; margin:10px; padding:10px; ">*/}}
	{{/*<div style="font-size:20px;">*/}}
		{{/*<a href="{{.URL}}">{{.Title}}</a>*/}}
	{{/*</div>*/}}
	{{/*<div style="color:grey; font-size:16px;">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</div>*/}}
	{{/*<div style="color:grey; font-size:16px;">{{ if .Params.tags }}<strong>Tags:</strong> {{range .Params.tags}}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>*/}}
	{{/*<div style="color:grey; font-size:16px;">{{ if .Params.categories }}<strong>Categories:</strong> {{range .Params.categories}}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>*/}}
	{{/*<div style="color:grey; font-size:16px;">{{ if .Params.moods }}<strong>Moods:</strong> {{range .Params.moods}}<a href="{{ "/moods/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>*/}}
	{{/*<p style="font-size:18px;">{{.Summary}}</p>*/}}
{{/*</div>*/}}